#preloader{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: #eee;
	opacity:0.4;
	z-index:999;
}
		 
#status{
	width:128px;
	height:128px;
	position:absolute;
	left:50%;
	top:50%;
	background-image:url(../../assets/icons/preloader3.gif); 
	background-repeat:no-repeat;
	background-position:center;
	margin:-64px 0 0 -64px;
}