th.header { 
	background-image: url(../images/sort_both.png); 
    background-repeat: no-repeat;
	background-position: center right;
}
th.headerSortUp { 
    background: url(../images/sort_asc.png); 
    background-repeat: no-repeat;
	background-position: center right;
	cursor:pointer;
} 

th.headerSortDown { 
    background-image: url(../images/sort_desc.png); 
    background-repeat: no-repeat;
	background-position: center right;
	cursor:pointer;
} 